header{
border: 1px black solid;
padding: 0px;
margin: 0px;
background-color: chartreuse;

}


/* タグ */

h1 {font-size: 50px; text-align: center;
}

.box1{
display: flex;
}
/* idに対して　*/
#title{
    color: rgb(0, 255, 21); 
}

h2{color: rgb(40, 18, 99); text-align: center; 

}

.text {
color: black; 
font-size: 20px;
padding: 50px; 
margin: 50px;

}

/* p{background-color: rgb(106, 80, 255);} */

p{
    text-align: center;
}

img {
    width: 400px;
}

ul {
list-style-type: none;
}

footer{
border: 1px black solid;
padding: 0px;
margin: 0px;
background-color: chartreuse;
}



/* body{border: 1px black solid;
    padding: 50px;
    margin: 50px;

} */